@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }
body{
    background-color: rgb(239, 118, 250);
}

.title{
text-align: center;
font-family: "DM Serif Display";
Color: rgb(56, 1, 56);
font-size: 60px;
}

.juniper-with-ghost{
    position:absolute;
    top: 300px;
    right: 10px; 
}
.maisie-lana{
    position:absolute;
    top: 750px;
    right: 625px; 
}
.juniper{
    position:absolute;
    top: 850px;
    right: 70px; 
}
.theo{
    position:absolute;
    top: 1200px;
    right: 600px; 
}
.hooligan-jimmy{
    position:absolute;
    top: 1300px;
    right: 10px; 
}

.work{
    a:link {
    
        padding: 1opx;
        text-align: left;
        font-family: 'DM Serif Display', 'verdana';
         font-size: 25px;
          color: rgb(209, 0, 105);
          text-decoration: none;
      }
      
      a:visited {
         color: rgb(134, 2, 75);
        text-decoration: none;
      }
      
      a:hover {
         color: rgb(252, 85, 202);
        font-size: 25px;
         font-style: italic;
         text-decoration: none;
      }
    }
    .about{
        text-align: left;
        padding: 10px;
        font-size: 25px;
        color: rgb(236, 221, 8);
    font-family: "DM Serif Display", "verdana"; 
    
    a:link {
    
        padding: 1opx;
        text-align: left;
        font-family: 'DM Serif Display', 'verdana';
         font-size: 25px;
          color: rgb(255, 251, 7);
          text-decoration: none;
      }
      
      a:visited {
         color: rgb(255, 238, 1);
        text-decoration: none;
      }
      
      a:hover {
         color: rgb(251, 255, 2);
        font-size: 25px;
         font-style: italic;
         text-decoration: none;
      }
    }
    
    
    .contact{
        text-align: left;
        padding: 10px;
        font-size: 25px;
        color: rgb(8, 145, 236);
    font-family: "DM Serif Display", "verdana"; 
        a:link {
    
            padding: 1opx;
            text-align: left;
            font-family: 'DM Serif Display', 'verdana';
             font-size: 25px;
              color: rgb(0, 115, 209);
              text-decoration: none;
          }
          
          a:visited {
             color: rgb(18, 63, 121);
            text-decoration: none;
          }
          
          a:hover {
             color: rgb(85, 199, 252);
            font-size: 25px;
             font-style: italic;
             text-decoration: none;
          }
          
    }
    
    
    